<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
<!--    <receiver-->
<!--            android:name="com.farmer.home.ui.states.SmsParser.SMSBroadcastReceiver"-->
<!--            android:exported="true"-->
<!--            android:enabled="true"-->
<!--            android:permission="android.permission.BROADCAST_SMS">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>-->
<!--        </intent-filter>-->
<!--    </receiver>-->

    </application>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
</manifest>